body {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
}

div {
    height: 15rem;
}

.primerdiv {
    background-color: aquamarine;
    flex-grow: 0.50;
}

.segundodiv {
    background-color: black;
}

.tercerdiv {
    background-color: brown;
}

.segundodiv,
.tercerdiv {
    flex-grow: 0.25;
}